
a {
  margin-right: 10px;
}

.myown-header-picture {
  background-size: cover;
  background-position: center bottom;
  height: 400px;
  color: white;
}

.myown-card-margins {
  margin-bottom: 20px; }

.myown-form-signin-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.myown-footer-margins {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px; }

.myown-thanks-for-reading {
  margin-top: 0px;
  margin-bottom: 0px; }

@media (max-width: 575.98px) {
  .myown-top-title {
    padding-top: 250px;
    padding-bottom: 50px;
  }

  .myown-top-title h1 {
    font-size: 2.5rem;
  }

  .myown-top-title h2 {
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  .myown-top-title {
    padding-top: 150px;
    padding-bottom: 50px;
  }

  .myown-top-title h1 {
    font-size: 4rem;
  }

  .myown-top-title h2 {
    font-size: 2rem;
  }
}