{% extends "template-general.html" %}

{% block title %}
Welcome to Look4Books
{% endblock %}

{% block subtitle %}
{% if error %}
An error occurred, please try again
{% else %}
Please enter your credentials
{% endif %}
{% endblock %}

{% block body %}
{% if error %}
<div class="container alert alert-warning" role="alert">
    {{ error }}
</div>
{% endif %}

<div class="container text-center">
    <form class="form-signin-signup" method="post">
        <label for="username" class="sr-only">Username</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register" style="margin-top: 5px;">
    </form>
</div>
{% endblock %}
