{% extends "template-general.html" %}

{% block header %}
<header class="myown-header-picture" style="background-image: url({{ url_for('static', filename='Login-register-page-picture.jpg') }});">
    <div class="container text-center myown-top-title" id="myown-top-title">
        <h1>Look4Books</h1>
        {% if error %}
            <h2>No results found, please try again</h2>
        {% else %}
            <h2>Please introduce your search criteria</h2>
        {% endif %}
    </div>
</header>
{% endblock %}

{% block body %}
</section>
    {% if error %}
    <div class="container alert alert-warning my-3" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <div class="container text-center">
        <form class="myown-form-search" method="post">
            <label for="search" class="sr-only">Search books</label>
            <input type="text" name="search" id="search" class="form-control" placeholder="Search books" required autofocus>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Search" style="margin-top: 5px;">
        </form>
    </div>

    {% if books %}
    <div class="container">
        <h1>Your results:</h1>
        <ol>
            {% for book in books %}
                <li><a href="{{ url_for('book', isbn=book.isbn) }}">{{ book.title }}, {{ book.author }}</a></li>
            {% endfor %}
        </ol>
    </div>
    {% endif %}
</section>
{% endblock %}